# .NET Core
project.lock.json
.project.json.user
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode
*.swp
*.swo
*~

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Logs
*.log

# Test Results
**/TestResults/*

# JetBrains Rider
.idea/
*.DotSettings.user